client/src/main/java/application/stub/Admin1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="AdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:9000/Admin?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findByName">
<part name="parameters" element="tns:findByName"></part>
</message>
<message name="findByNameResponse">
<part name="parameters" element="tns:findByNameResponse"></part>
</message>
<message name="addPackage">
<part name="parameters" element="tns:addPackage"></part>
</message>
<message name="addPackageResponse">
<part name="parameters" element="tns:addPackageResponse"></part>
</message>
<message name="deletePackage">
<part name="parameters" element="tns:deletePackage"></part>
</message>
<message name="deletePackageResponse">
<part name="parameters" element="tns:deletePackageResponse"></part>
</message>
<message name="findByUsername">
<part name="parameters" element="tns:findByUsername"></part>
</message>
<message name="findByUsernameResponse">
<part name="parameters" element="tns:findByUsernameResponse"></part>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"></part>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"></part>
</message>
<message name="registerPackage">
<part name="parameters" element="tns:registerPackage"></part>
</message>
<message name="registerPackageResponse">
<part name="parameters" element="tns:registerPackageResponse"></part>
</message>
<message name="findByCityName">
<part name="parameters" element="tns:findByCityName"></part>
</message>
<message name="findByCityNameResponse">
<part name="parameters" element="tns:findByCityNameResponse"></part>
</message>
<message name="updateStatus">
<part name="parameters" element="tns:updateStatus"></part>
</message>
<message name="updateStatusResponse">
<part name="parameters" element="tns:updateStatusResponse"></part>
</message>
<portType name="Admin">
<operation name="findByName">
<input wsam:Action="http://services/Admin/findByNameRequest" message="tns:findByName"></input>
<output wsam:Action="http://services/Admin/findByNameResponse" message="tns:findByNameResponse"></output>
</operation>
<operation name="addPackage">
<input wsam:Action="http://services/Admin/addPackageRequest" message="tns:addPackage"></input>
<output wsam:Action="http://services/Admin/addPackageResponse" message="tns:addPackageResponse"></output>
</operation>
<operation name="deletePackage">
<input wsam:Action="http://services/Admin/deletePackageRequest" message="tns:deletePackage"></input>
<output wsam:Action="http://services/Admin/deletePackageResponse" message="tns:deletePackageResponse"></output>
</operation>
<operation name="findByUsername">
<input wsam:Action="http://services/Admin/findByUsernameRequest" message="tns:findByUsername"></input>
<output wsam:Action="http://services/Admin/findByUsernameResponse" message="tns:findByUsernameResponse"></output>
</operation>
<operation name="addUser">
<input wsam:Action="http://services/Admin/addUserRequest" message="tns:addUser"></input>
<output wsam:Action="http://services/Admin/addUserResponse" message="tns:addUserResponse"></output>
</operation>
<operation name="registerPackage">
<input wsam:Action="http://services/Admin/registerPackageRequest" message="tns:registerPackage"></input>
<output wsam:Action="http://services/Admin/registerPackageResponse" message="tns:registerPackageResponse"></output>
</operation>
<operation name="findByCityName">
<input wsam:Action="http://services/Admin/findByCityNameRequest" message="tns:findByCityName"></input>
<output wsam:Action="http://services/Admin/findByCityNameResponse" message="tns:findByCityNameResponse"></output>
</operation>
<operation name="updateStatus">
<input wsam:Action="http://services/Admin/updateStatusRequest" message="tns:updateStatus"></input>
<output wsam:Action="http://services/Admin/updateStatusResponse" message="tns:updateStatusResponse"></output>
</operation>
</portType>
<binding name="AdminPortBinding" type="tns:Admin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findByName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addPackage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deletePackage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findByUsername">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerPackage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findByCityName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AdminService">
<port name="AdminPort" binding="tns:AdminPortBinding">
<soap:address location="http://localhost:9000/Admin"></soap:address>
</port>
</service>
</definitions>