client/src/main/java/application/stub/Client5.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ClientService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:9010/Client?xsd=1"/>
</xsd:schema>
</types>
<message name="status">
<part name="parameters" element="tns:status"/>
</message>
<message name="statusResponse">
<part name="parameters" element="tns:statusResponse"/>
</message>
<message name="findUserByUsername">
<part name="parameters" element="tns:findUserByUsername"/>
</message>
<message name="findUserByUsernameResponse">
<part name="parameters" element="tns:findUserByUsernameResponse"/>
</message>
<message name="searchPackages">
<part name="parameters" element="tns:searchPackages"/>
</message>
<message name="searchPackagesResponse">
<part name="parameters" element="tns:searchPackagesResponse"/>
</message>
<message name="findPackages">
<part name="parameters" element="tns:findPackages"/>
</message>
<message name="findPackagesResponse">
<part name="parameters" element="tns:findPackagesResponse"/>
</message>
<portType name="Client">
<operation name="status">
<input wsam:Action="http://services/Client/statusRequest" message="tns:status"/>
<output wsam:Action="http://services/Client/statusResponse" message="tns:statusResponse"/>
</operation>
<operation name="findUserByUsername">
<input wsam:Action="http://services/Client/findUserByUsernameRequest" message="tns:findUserByUsername"/>
<output wsam:Action="http://services/Client/findUserByUsernameResponse" message="tns:findUserByUsernameResponse"/>
</operation>
<operation name="searchPackages">
<input wsam:Action="http://services/Client/searchPackagesRequest" message="tns:searchPackages"/>
<output wsam:Action="http://services/Client/searchPackagesResponse" message="tns:searchPackagesResponse"/>
</operation>
<operation name="findPackages">
<input wsam:Action="http://services/Client/findPackagesRequest" message="tns:findPackages"/>
<output wsam:Action="http://services/Client/findPackagesResponse" message="tns:findPackagesResponse"/>
</operation>
</portType>
<binding name="ClientPortBinding" type="tns:Client">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="status">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUserByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchPackages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPackages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClientService">
<port name="ClientPort" binding="tns:ClientPortBinding">
<soap:address location="http://localhost:9010/Client"/>
</port>
</service>
</definitions>